
div.big {
	margin: 5% 20% 2%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

@media screen and (max-width: 820px) {
	div.big {
    	margin: 0% 0% 0%;
  	}

}
